*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

html,
body{
  height: 100%;
}

body{

    background: #fff;
    color: #000;

    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}


.main{
    flex: 1 1 auto;
}

.container{
    max-width: 1305px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

.ibg{
  position: relative;

  img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}