@import "global";
@import "fonts";


/*========================Globals==================================*/


$first_color: #fff;




/*=============================Blocks======================================*/

.menu{
    
}

/*===========================Header=============================*/

.header{
    font-size: 16px;
    line-height: 18px;
}

.header__container{

}

.header__menu{

}

/*======================Footer=========================*/
.footer{
    background: gray;
    color: #fff;
}